A:link {COLOR: #0000CC}
A:active {COLOR: #0000CC}
A:visited {COLOR: #046f0b}
A:hover {COLOR: #FF0000}

BODY {
        background-color:transparent; 
	FONT: 12px Verdana, Arial, sans-serif; COLOR: black;

}
P {
	FONT: 12px Verdana, Arial, sans-serif; COLOR: black
}
TD {
	FONT: 12px Verdana, Arial, sans-serif; COLOR: black
}
DIV {
	FONT: 12px Verdana, Arial, sans-serif; COLOR: black
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 15px
}
.p {
	MARGIN-TOP: 6px; FONT: 11px/15px Verdana, Arial, sans-serif; COLOR: black
}
A {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.topmenu {
	FONT: bold 11px Verdana, Arial, sans-serif; COLOR: white
}
A.topmenu:hover {
	TEXT-DECORATION: underline
}
.topmenu1 {
	FONT-SIZE: 11px; COLOR: #fda05b
}
A.topmenu1:hover {
	TEXT-DECORATION: underline
}
.toppmenu {
	FONT-SIZE: 11px; COLOR: white
}
A.toppmenu:hover {
	TEXT-DECORATION: underline
}
.toppmenu1 {
	FONT-SIZE: 11px; COLOR: #fda05b
}
A.toppmenu1:hover {
	TEXT-DECORATION: underline
}
A.clicktext {
	COLOR: #05a411
}
A.clicktext:hover {
	COLOR: #04b2b2; TEXT-DECORATION: underline
}
A.awards {
	FONT: 11px Verdana, Arial, sans-serif
}
A.piccomment {
	FONT-SIZE: 11px
}
A.SalesNote {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; LINE-HEIGHT: 100%
}
.colhdr {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, sans-serif
}
.coltxt {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif
}
P.ColumnTitle {
	MARGIN-TOP: 11px; FONT-SIZE: 11px; COLOR: #0066cc
}
P.newsDate1 {
	MARGIN-TOP: 11px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #999999
}
P.PRdate {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999
}
A.newsDetails {
	FONT-SIZE: 11px; COLOR: #006600
}
P.newssign {
	MARGIN-TOP: 4px; FONT-SIZE: 10px; COLOR: #666666
}
B {
	FONT-WEIGHT: bold
}
.footer {
	FONT-SIZE: 11px; COLOR: white
}
.regMicroTitle {
	FONT: 11px Verdana, Arial, sans-serif; COLOR: black
}
A.basicMenu {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.basicMenu:hover {
	TEXT-DECORATION: underline
}
.submenu {
	COLOR: #0066cc
}
.submenu1 {
	COLOR: #fda05b
}
.subscribeField {
	FONT: 11px Verdana, Helvetica, sans-serif; WIDTH: 108px; COLOR: black
}
.searchField {
	FONT: 11px Verdana, Helvetica, sans-serif; WIDTH: 100px; COLOR: black; HEIGHT: 20px
}
P.Title {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 6px; FONT: bold 18px/120% Tahoma, Helvetica, sans-serif; COLOR: #999999
}
H1 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 6px; FONT: bold 18px/120% Tahoma, Helvetica, sans-serif; COLOR: #999999
}
.h {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 0px; FONT: bold 13px Tahoma, Helvetica, sans-serif; COLOR: black
}


h2        { font-family: Arial, Sans-Serif; font-size: 100%; font-weight: bold;
            text-align: center; margin: 0ex 0ex 2ex 0ex; background-color: silver }




H2 {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 0px; FONT: bold 13px Tahoma, Helvetica, sans-serif; COLOR: black
}
.h3 {
	MARGIN: 0px; FONT: bold 13px Tahoma, Helvetica, sans-serif; COLOR: black ;background-color: silver 
}
H6 {
	MARGIN: 0px; FONT:  16px Comic Sans MS, Helvetica, sans-serif; COLOR: blue
}
.text {
	FONT: bold 11px Verdana, Helvetica, sans-serif
}
P.subTitle {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; COLOR: #999999
}
.bulletRaquo {
	FONT: 8px/14px Verdana, Helvetica, sans-serif; COLOR: #0066cc
}
.bulletRaquo1 {
	FONT: 8px/14px Verdana, Helvetica, sans-serif; COLOR: white
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 11px/13px Verdana, Helvetica, sans-serif; COLOR: navy
}
OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 11px/13px Verdana, Helvetica, sans-serif; COLOR: blue
}
LI {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 11px/13px Verdana, Helvetica, sans-serif; COLOR: black
}
LI.features {
	MARGIN-TOP: 6px
}
LI.free {
	MARGIN-TOP: 6px
}
.free {
	MARGIN-TOP: 6px
}
UL {
	LIST-STYLE-IMAGE: url(folder.gif)
}
.plus {
	FONT: bold 14px Helvetica, sans-serif; COLOR: #0066cc
}
TD.regFieldTxt {
	FONT: 12px Verdana, Helvetica, sans-serif; COLOR: black
}
.regNeedMark {
	FONT-SIZE: 16px; COLOR: crimson; FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif
}
.error {
	COLOR: #cc0000
}
.wow {
	COLOR: #cc0000
}
.note {
	FONT-SIZE: 10px; COLOR: #999999
}
.10px {
	FONT-SIZE: 10px
}
.specMarker {
	FONT: bold 10px/100% Verdana, Helvetica, sans-serif; COLOR: white; BACKGROUND-COLOR: #0066cc
}
.edit {
	COLOR: crimson
}
BODY {
	SCROLLBAR-FACE-COLOR: #f0f0f0; SCROLLBAR-HIGHLIGHT-COLOR: silver; SCROLLBAR-SHADOW-COLOR: silver; SCROLLBAR-3DLIGHT-COLOR: white; SCROLLBAR-ARROW-COLOR: blue; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: black
}
                